:host {
    height: 100vh;
    margin: 100px auto 0 auto;
  }

.bg {
    background-image: linear-gradient(to right, #007bff, #0073ff, #006bff, #0062ff, #0059ff);
}

.dark-backgroud {
    background-color: rgba(255,255,255, 0.7);
}   