<div class="container-fluid">
    <div class="row ">
        <div class="col-sm-12 col-xl-12 col-md-6 col-lg-6 col-xl-6 m-auto d-flex">
            <div class="card">
              <div class="card-header bg">
                <h3 class="text-light">Sign In</h3>
              </div>
              <div class="card-body dark-backgroud">
                <form [formGroup]="form"  (ngSubmit)="onSubmit()">
                  <div class="input-group form-group">  
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="email" formcontrolName="email">
                    
                  </div>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="password" formcontrolName="password">
                  </div>
                  <div class="row align-items-center remember">
                    <input type="checkbox">Remember Me
                  </div>
                  <div class="form-group">
                    <button type="submit" [disabled]="!form.valid" class="btn float-right btn-primary">Login</button>
                  </div>
                </form>
              </div>
              <div class="card-footer">
                <div class="d-flex justify-content-center links">
                  Don't have an account?<br>
                  <a href="#">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center">
                  <a href="#">Forgot your password?</a>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
